.container {
  width: 400px;
  margin: 250px auto;
  padding: 20px;
  border-radius: 16px;
  background: var(--color-bg-primary);
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: var(--color-accent);
  cursor: pointer;
  font-size: 20px;
  font-family: 'Montserrat';
  color: var(--color-bg-primary);
}

.button:hover {
  background: #bbb;
}

.link {
  margin-top: 10px;
  font-size: 20px;
}

.linkAction {
  color: #600000;
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}

.linkAction:hover {
  opacity: 0.8;
}
