DB__DRIVERNAME=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=your_db_password
DB__NAME=app_db

BACKEND_IMAGE=adel160505/dashboard-itis-backend:latest
FRONTEND_IMAGE=nginx:stable-alpine

APP__NAME=Dashboard ITIS
APP__VERSION=1.0.0

AUTH__SECRET_KEY=your_secret_key_here
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_LIFETIME=PT15M
AUTH__REFRESH_TOKEN_LIFETIME=P30D

ADMIN__EMAIL=admin@example.com
ADMIN__PASSWORD=your_admin_password
ADMIN__FIRST_NAME=Admin
ADMIN__LAST_NAME=User

RBAC__ADMIN_ROLE=admin
RBAC__PUBLIC_ROLE=public
RBAC__STUDENT_ROLE=student
RBAC__CURATOR_ROLE=curator

CORS__ALLOW_ORIGINS=["http://localhost:3000","http://localhost:5173","http://localhost:8080"]
CORS__ALLOW_CREDENTIALS=true
CORS__ALLOW_METHODS=["GET","POST","PUT","PATCH","DELETE","OPTIONS"]
CORS__ALLOW_HEADERS=["Accept","Authorization","Content-Type","Origin","X-Requested-With"]
CORS__MAX_AGE=600

RATE_LIMIT__DEFAULT_LIMIT=100/minute
RATE_LIMIT__AUTH_LIMIT=10/minute

EMAIL__MAIL_USERNAME=your_email@example.com
EMAIL__MAIL_PASSWORD=your_email_password
EMAIL__MAIL_FROM=your_email@example.com
EMAIL__MAIL_SERVER=smtp.mail.ru
EMAIL__MAIL_PORT=465
EMAIL__MAIL_STARTTLS=false
EMAIL__MAIL_SSL_TLS=true
EMAIL__USE_CREDENTIALS=true
EMAIL__VALIDATE_CERTS=true
EMAIL__TEMPLATE_FOLDER=app/templates/email
EMAIL__APP_HOST=http://localhost
EMAIL__CONFIRMATION_URL=http://localhost:3000/confirm-account

PROXY__ADMIN_EMAIL=your_email@example.com
PROXY__ADMIN_PASSWORD=your_proxy_password