name: front-back-integration

x-back-image: &back-image {{back_image}}
x-front-image: &front-image {{front_image}}

x-platform: &platform
  platform: linux/amd64

x-back-base: &back-base
  image: *back-image
  platform: linux/amd64
  restart: on-failure
  env_file:
    - .env
  environment: 
    DB__HOST: db

x-back-services-base: &back-services-base
  <<: *back-base

x-db-base: &db-base
  <<: *platform
  image: postgres:18
  restart: always
  env_file:
    - .env
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    interval: 10s
    retries: 5
    timeout: 5s
    start_period: 10s

services:
  db:
    <<: *db-base
    environment: 
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    volumes:
      - pgdata:/var/lib/postgresql/18/docker

  migration:
    <<: *back-services-base
    depends_on:
      db:
        condition: service_healthy
    command: ["alembic", "upgrade", "head"]

  rbac:
    <<: *back-services-base
    depends_on:
      migration:
        condition: service_completed_successfully
    command: ["python", "init.py"]

  api:
    <<: *back-base
    restart: always
    depends_on:
      rbac:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 10s

  web:
    image: *front-image
    restart: always
    depends_on:
      api:
        condition: service_healthy 
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 10s

  db_proxy:
    <<: *db-base
    environment: 
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: proxy
    volumes:
      - proxy_pgdata:/var/lib/postgresql/18/docker
  
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    env_file:
      - .env
    environment:
      TZ: 'Russia/Moscow'
      DB_POSTGRES_HOST: 'db_proxy'
      DB_POSTGRES_PORT: 5432
      DB_POSTGRES_USER: ${DB__USER}
      DB_POSTGRES_PASSWORD: ${DB__PASSWORD}
      DB_POSTGRES_NAME: proxy
      INITIAL_ADMIN_EMAIL: ${ADMIN__EMAIL}
      INITIAL_ADMIN_PASSWORD: ${ADMIN__PASSWORD}
    volumes:
      - proxy_data:/data
      - certificates:/etc/letsencrypt

volumes:
  pgdata:
  proxy_pgdata:
  proxy_data:
  certificates: