.card {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 14px;
  background: var(--color-border);
  box-sizing: border-box;
}

.label {
  font-size: 14px;
  margin-bottom: 6px;
}

.value {
  font-size: var(--font-size-subtitle);
  font-weight: bold;
}
